<!doctype html>
<html>
<head>
    <title>404 found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/bootstrap3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootflat/css/bootflat.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body >

    <!-- Main content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 err-page" >
                <h3><span style="color:#FFCE54; font-size: 2em;">404</span> found. <br/> Don't try to wake up the wolf. </h3>
                <h3><a href="/">back</a></h3>

                <div style="width: 100%; text-align:center;">
                    <img src="static/img/wolf.jpg" alt="404">
                </div>

                <form method="GET" action="/search">
                    <div class="input-group form-search">
                        <input type="text" class="form-control search-query" name="keyword" placeholder="Find another place">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-simple btn-active" data-type="last">Go</button>
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/bootstrap3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
