<!doctype html>
<html>
<head>
    <title>Single post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/bootstrap3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootflat/css/bootflat.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/prism.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body >
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Ice Wolf</a>
        </div>
        <div style="clear:both;"></div>
    </header>

    <!-- Main content -->
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <article class="single-post">
                    <h3 class="post-title">Post title here</h3>

                    <div class="post-info">

                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <div class="post-date">July 28th, 2015</div>
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        <div class="categories">
                            <a href="">Cat1</a>,
                            <a href="">Cat2</a>,
                            <a href="">Cat3</a>
                        </div>

                    </div>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fuga sint, possimus, dolorum quam perferendis veritatis aliquid tenetur, ipsam cupiditate numquam, quas nostrum autem dicta perspiciatis. Culpa nulla placeat facere.
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nesciunt nobis consequatur beatae obcaecati tenetur qui temporibus corporis veniam modi saepe provident possimus ab facere ipsum, laudantium odit, quisquam officiis.</p>
                        <pre><code class="language-css">
                            .logo > a
                            {
                                text-decoration: none;
                                color: #48CFAD;
                            }

                            .logo > a:hover
                            {
                                color: #37BC9B;
                            }


                            header > nav
                            {
                                float:right;
                                padding: 10px 40px 10px 0;
                            }

                            header > nav > a
                            {
                                color: #4FC1E9;
                                text-transform: capitalize;
                                padding: 0 10px;
                            }

                            header>nav>.dropdown
                            {
                                display: inline-block;
                                margin: 10px 0px;
                            }

                            .dropdown-menu
                            {
                                background-color: #fefefe;
                                border: solid 1px #eee;
                            }
                        </code></pre>
                        <p>Impedit incidunt hic inventore, omnis necessitatibus quae expedita. Quasi at et, consectetur in facere totam nisi laboriosam fugiat voluptatum, necessitatibus accusamus cum dolore cupiditate natus labore quia maiores mollitia numquam.</p>
                        <p>Repellat tempora esse suscipit doloribus molestiae officiis rem delectus excepturi possimus, quisquam maiores architecto, natus mollitia. Explicabo laborum quae in, voluptatum, mollitia exercitationem natus et inventore quis, nesciunt tenetur nam.</p>
                        <p>Ut sapiente explicabo, quo et voluptate maiores vitae. Deleniti temporibus libero dolor dignissimos inventore, quam aspernatur iste rerum ullam, odit quae error nisi suscipit molestias magni. Quasi sunt, pariatur eum.</p>
                    </div>

                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <div class="row tags">
                        <a href=""><span class="label label-tag">Tag1</span></a>
                        <a href=""><span class="label label-tag">Tag2</span></a>
                        <a href=""><span class="label label-tag">Tag3</span></a>
                        <a href=""><span class="label label-tag">Tag4</span></a>
                    </div>
                    <!-- Autho information -->
                    <div class="row author-about">
                        <!-- Author avatar -->
                        <div class="author-avatar">
                            <a href="#">
                                <img src="img/ava.jpg" width="128" height="128" alt="Dzung Nguyen" class="img-rounded">
                            </a>
                        </div>

                        <!-- Author name and description -->
                        <div class="col-xs-8 col-md-9">
                            <h4 class="author-name">Dzung Nguyen</h4>
                            <p class="author-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in voluptate eligendi, obcaecati quod eius quia quidem iste cupiditate magnam nesciunt voluptatibus tenetur rerum aliquam libero voluptas inventore repellendus animi.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <!-- Comment box -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 comment-form">
                <h4>Leave your comment</h4>
                <form method = "POST">
                    <textarea id="comment-box" name="comment"> </textarea>
                    <button class="btn btn-simple">POST COMMENT</button>
                </form>
            </div>
        </div>

        <!-- All user comment -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-1">
                <h4>7 comments</h4>
                <ul class="comment-list">
                    <li class="comment">
                        <img src="img/ava.jpg" alt="avatar" width="64" class="img-rounded commenter-avatar">
                        <div class="col-md-10 col-xs-8">
                            <div class="commenter-name">Dzung Nguyen</div>
                            <div class="comment-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 Apr, 2013 at 12:00</div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae voluptatem, possimus nemo voluptatum eaque quae laboriosam, quod unde quibusdam veritatis facere corporis libero inventore placeat, id, totam cum saepe.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="comment">
                        <img src="img/ava.jpg" alt="avatar" width="64" class="img-rounded commenter-avatar">
                        <div class="col-md-10 col-xs-8">
                            <div class="commenter-name">Dzung Nguyen</div>
                            <div class="comment-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 Apr, 2013 at 12:00</div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae voluptatem, possimus nemo voluptatum eaque quae laboriosam, quod unde quibusdam veritatis facere corporis libero inventore placeat, id, totam cum saepe.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="comment">
                        <img src="img/ava.jpg" alt="avatar" width="64" class="img-rounded commenter-avatar">
                        <div class="col-md-10 col-xs-8">
                            <div class="commenter-name">Dzung Nguyen</div>
                            <div class="comment-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 Apr, 2013 at 12:00</div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae voluptatem, possimus nemo voluptatum eaque quae laboriosam, quod unde quibusdam veritatis facere corporis libero inventore placeat, id, totam cum saepe.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="comment">
                        <img src="img/ava.jpg" alt="avatar" width="64" class="img-rounded commenter-avatar">
                        <div class="col-md-10 col-xs-8">
                            <div class="commenter-name">Dzung Nguyen</div>
                            <div class="comment-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 Apr, 2013 at 12:00</div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae voluptatem, possimus nemo voluptatum eaque quae laboriosam, quod unde quibusdam veritatis facere corporis libero inventore placeat, id, totam cum saepe.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="comment">
                        <img src="img/ava.jpg" alt="avatar" width="64" class="img-rounded commenter-avatar">
                        <div class="col-md-10 col-xs-8">
                            <div class="commenter-name">Dzung Nguyen</div>
                            <div class="comment-time"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 12 Apr, 2013 at 12:00</div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae voluptatem, possimus nemo voluptatum eaque quae laboriosam, quod unde quibusdam veritatis facere corporis libero inventore placeat, id, totam cum saepe.
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <!-- Footer -->
    <footer>
        <p class="copyright"><span>Powered by <a href="/">Dzung Nguyen</a></span></p>
    </footer>


    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/bootstrap3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="static/bootflat/js/icheck.min.js"></script>
    <script src="static/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="static/bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="static/editor/trumbowyg-2.0.0/trumbowyg.min.js"></script>
    <script src="static/js/prism.js"></script>
    <script src="static/js/application.js"></script>

</body>
</html>
