html {
    position: relative;
    min-height: 100%;
}

body{
    font-size: 16px;
    font-family:  "Noto serif", Tahoma, sans-serif;
    color: #666;
    margin-bottom: 120px;
}

h2
{
    font-size: 1.8em;
}

a, .dropdown-menu li a, .btn-link, .post-title a:hover
{
    text-decoration: none;
    color: #37BC9B;
}

a:hover, .dropdown-menu li a:hover, .btn-link:hover
{
    color: #48CFAD;
}

.dropdown-menu, .btn
{
    font-size: 1em;
}

header
{
    height: 49px;
    background: #fefefe;
    width: 100%;
    border-bottom: solid 1px #eee;
    text-align: center
    position: relative;
}

header > .logo, .large-logo, .brand
{
    font-family: Lobster, Tahoma, sans-serif;
    font-size: 1.7em;
}

header > .logo
{
    float:left;
    padding: 7px 30px;
}

.large-logo
{
    font-size: 4em;
    height: 150px;
    width: 100%;
    padding: 20px 0 10px;
    text-align: center;
}

.large-logo > *
{
    vertical-align: middle;
}


header > nav
{
    float:right;
    padding: 7px 15px 7px 0;
}

header > nav > a
{
    text-transform: capitalize;
    padding: 0 10px;
    vertical-align:middle;
}

header>nav>.dropdown
{
    display: inline-block;
    margin: 0;
}

.dropdown-menu
{
    background-color: #fefefe;
    border: solid 1px #eee;
}

.dropdown-menu .divider
{
    background-color: #eee;
}

/*Menu bar CSS*/

.form-search .search-query, .form-search .search-query:first-child, .form-search .search-query:last-child {
    padding: 0 15px 0 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-color: #ddd;
}

.search-form
{
    position: absolute;
    top: 0;
    padding: 8px;
    text-align: center;
}

.brand
{

}


.navbar-simple {
    background: none;
    border: none;
    width: 100%;
    text-align: center;

    border: 1px solid #666;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.navbar-simple ul {
    float: none;
    display: inline-block;
}

@media screen and (max-width:599px) {
    .navbar-simple {
        margin-top: 20px;
    }
}

.navbar-simple .navbar-toggle {
    background: none;
    border-color: #aaa;
}

.navbar-toggle .icon-bar
{
    background: #aaa;
}

.navbar-nav>li>a
{
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.2em;
}

.navbar-nav>li>a:hover
{
    background: none;
    color: #48CFAD;
}

/*POST CSS*/

.post-title, .post-title>a
{
    color: #333;
}

.post-title
{
    font-size: 2.5em;
}
.post-info > div
{
    text-transform: uppercase;
    display: inline-block;
    font-size: .9em;
    color: #999;
}

.post-info .glyphicon, .comment-time .glyphicon
{
    margin-right: 7px;
    font-size: 1em;
}

.post-info .glyphicon
{
    color: #48CFAD;
}

.post-info .glyphicon-bookmark, .post-info .glyphicon-pencil
{
    margin-left: 25px;
}

.post-info .author-name
{
    margin-left: 20px;
}

.post-content, .post-list .post-item
{
    padding: 30px 0;
    line-height: 1.7em;
    font-size: 1.15em;
    color: #666;
}

pre
{
    font-size: .85em;
}

.single-post .post-title
{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.single-post .post-info
{
    text-align: center;
}


.single-post img, .post-item img
{
    max-width: 100%;
}
.single-post .tags
{
    margin-left: 7px;
    padding: 20px 15px;
    display: inline-block;
}
.single-post .tags .label-tag
{
    font-size: 0.9em;
    font-weight: 300;
    padding: 0.4em 0.8em;

    border: 1px solid #ddd;
    color: #999;
    background: none;

    text-transform: uppercase;
}

.author-about
{
    margin: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    color: #666;
    line-height: 1.5em;
}

.author-avatar
{
    float: left;
    margin-right: 20px;
}

.author-description
{
    float: left;
}

/*Post list CSS*/
.post-list
{
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.post-list .post-item
{
    font-size: 1em;
    border-bottom: 1px solid #ddd;
}

.post-list .post-item:last-child
{
    border-bottom: none;
}

.post-list .post-summary
{
    padding: 20px 0;
    font-size: 1.3em;
    line-height: 1.6em;
}
.btn-simple{
    display: inline-block;
    border: 1px solid #48CFAD;
    border-radius: 0px;
    background: none;

    color: #48CFAD;
    text-transform: uppercase;

    padding: 5px 15px;
}

.btn-simple:hover, .btn-active
{
    border: 1px solid #48CFAD;
    background: #48CFAD;
    color: #fff;
}

.pagination
{
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.pagination  li
{
    display: inline-block;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination  li a:hover
{
    color: #48CFAD;
    background: none;
    border-color: #48CFAD;
}

/*CONTENT CSS HERE*/

.card-title-bar
{
    width: 100%;
    height: 54px;
    display: table;

    font-family: Lobster, Tahoma, sans-serif;
    font-size: 1.8em;
    color: #48CFAD;
    text-align: center;
    line-height: 54px;

    background: #eee;
    border-bottom: solid 1px #eee;
}

.card-content
{
    padding: 30px;
}

.btn-mint
{
    background: #48CFAD;
    border-color: #48CFAD;
}

.btn-mint:hover
{
    background: #37BC9B;
    border-color: #37BC9B;
}

@media screen and (min-width:600px) {
    .card{
        border: solid 1px #eeeeee;
    }

    .single-card
    {
        margin: 50px 0;
    }
}

@media screen and (max-width:599px) {

}

#editor
{
    min-height: 500px;
    border: 1px solid #eee;
}
.trumbowyg-box, .trumbowyg-editor
{
    width: 100%;
    min-height: 500px;
}

.new-post-title
{
    font-size: 1.5em;
    height: 43px;
}

.publish-meta
{

}

#publish-btn-group
{
    margin-bottom: 20px;
}

.category-list
{
    max-height: 180px;
    overflow-y: auto;
}

/*Comment CSS here*/
.comment-form
{
    margin-top: 20px;
}

#comment-box
{
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}
.comment-list
{
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.comment
{
    padding: 30px 0;
    border-top: 1px solid #eee;
    line-height: 1.8em;
    color: #666;

}

.commenter-avatar
{
    float:left;
}

.commenter-name
{
    font-weight: bold;
    font-size: 1.2em;
}

.comment-time
{
    font-family: Tahoma, Arial, "Sans serif";
    font-size: .9em;
    padding-top: 7px;
    color: #999;
}

.comment-content
{
    padding-top: 10px;
}

/*FOOTER HERE :v*/

footer{
    height: 120px;
    width: 100%;
    background: #434A54;
    color: #fff;
    display: table;

    position: absolute;
    bottom: 0;
}

footer> .copyright
{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
