<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/bootstrap3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootflat/css/bootflat.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body >
    {%from "macros.html" import top_nav,main_menu, render_pagination, render_short_post%}
    <!-- Header -->
    <header class =" hidden-xs">
        <div class="logo">
            <a href="/">Ice Wolf</a>
        </div>
        {{top_nav()}}
        <div style="clear:both;"></div>
    </header>
    <div class="large-logo hidden-xs">
        <a href="/">Ice Wolf</a>
    </div>

    {{main_menu()}}

    <!-- Main content -->
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <ul class="post-list">
                    {%for post in pagination.items%}
                        {{render_short_post(post, "post")}}
                    {%endfor%}
                </ul>

                <!-- Pagination -->
                <!--<ul class="pagination">-->
                    <!--<li ><a href="#">PREV</a></li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li class="active"><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li ><a href="#">5</a></li>-->
                    <!--<li ><a href="#">NEXT</a></li>-->
                <!--</ul>-->
                {{render_pagination(pagination, endpoint="homepage")}}
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <p class="copyright"><span>Powered by <a href="/">Dzung Nguyen</a></span></p>
    </footer>


    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/bootstrap3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="/static/bootflat/js/icheck.min.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/application.js"></script>


</body>
</html>
