<!doctype html>
<html>
<head>
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/bootstrap3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootflat/css/bootflat.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body >
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Ice Wolf</a>
        </div>
        <nav>
            <a href="/register"><button class="btn-simple">Register</button></a>
        </nav>
        <div style="clear:both;"></div>
    </header>

    <!-- Main content -->
    <div class="container">
        <div class="row single-card">
            {%if show_result%}
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="alert" style="text-align:center; margin-top: 30px; color:#8CC152;">
                    <p><h3>Mail sent!</h3></p>
                    <p>An email with reset link has been sent to <b>{{email}}</b>.</p>
                    <p>Please check your inbox and follow instruction to reset your password.</p>
                </div>
            </div>
            {%endif%}

            {%if error_msg%}
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="alert alert-danger" role="alert">{{error_msg}}</div>
            </div>
            {%endif%}

            {%if not show_result%}
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="card">
                    <div class="card-title-bar">
                        Forgot password
                    </div>
                    <div class="card-content">
                        <form method="POST" data-togle="validator">
                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" data-error="Oops, that email address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" class="btn btn-simple btn-active btn-block">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p class="copyright"><span>Powered by <a href="/">Dzung Nguyen</a></span></p>
    </footer>

    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/bootstrap3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="static/bootflat/js/icheck.min.js"></script>
    <!-- <script src="static/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="static/bootflat/js/jquery.fs.stepper.min.js"></script>
    -->
    <script src="static/js/validator.min.js"></script>
    <script src="static/js/application.js"></script>
</body>
</html>
