<!doctype html>
<html>
<head>
    <title>Single post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bootstrap3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootflat/css/bootflat.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body >
    <!-- Header -->
    <header>
        <div class="logo">
            <a href="/">Ice Wolf</a>
        </div>
        <div style="clear:both;"></div>
    </header>

    <!-- Main content -->
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <article class="single-post">
                    <h3 class="post-title">Post title here</h3>

                    <div class="post-info">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <div class="post-date">July 28th, 2015</div>
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                        <div class="categories">
                            <a href="">Cat1</a>,
                            <a href="">Cat2</a>,
                            <a href="">Cat3</a>
                        </div>
                    </div>
                    <div class="post-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus fuga sint, possimus, dolorum quam perferendis veritatis aliquid tenetur, ipsam cupiditate numquam, quas nostrum autem dicta perspiciatis. Culpa nulla placeat facere.
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nesciunt nobis consequatur beatae obcaecati tenetur qui temporibus corporis veniam modi saepe provident possimus ab facere ipsum, laudantium odit, quisquam officiis.</p>
                        <pre><code class="language-css">
                            .logo > a
                            {
                                text-decoration: none;
                                color: #48CFAD;
                            }

                            .logo > a:hover
                            {
                                color: #37BC9B;
                            }


                            header > nav
                            {
                                float:right;
                                padding: 10px 40px 10px 0;
                            }

                            header > nav > a
                            {
                                color: #4FC1E9;
                                text-transform: capitalize;
                                padding: 0 10px;
                            }

                            header>nav>.dropdown
                            {
                                display: inline-block;
                                margin: 10px 0px;
                            }

                            .dropdown-menu
                            {
                                background-color: #fefefe;
                                border: solid 1px #eee;
                            }
                        </code></pre>
                        <p>Impedit incidunt hic inventore, omnis necessitatibus quae expedita. Quasi at et, consectetur in facere totam nisi laboriosam fugiat voluptatum, necessitatibus accusamus cum dolore cupiditate natus labore quia maiores mollitia numquam.</p>
                        <p>Repellat tempora esse suscipit doloribus molestiae officiis rem delectus excepturi possimus, quisquam maiores architecto, natus mollitia. Explicabo laborum quae in, voluptatum, mollitia exercitationem natus et inventore quis, nesciunt tenetur nam.</p>
                        <p>Ut sapiente explicabo, quo et voluptate maiores vitae. Deleniti temporibus libero dolor dignissimos inventore, quam aspernatur iste rerum ullam, odit quae error nisi suscipit molestias magni. Quasi sunt, pariatur eum.</p>
                    </div>

                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <div class="row tags">
                        <a href=""><span class="label label-tag">Tag1</span></a>
                        <a href=""><span class="label label-tag">Tag2</span></a>
                        <a href=""><span class="label label-tag">Tag3</span></a>
                        <a href=""><span class="label label-tag">Tag4</span></a>
                    </div>
                    <!-- Autho information -->
                    <div class="row author-about">
                        <!-- Author avatar -->
                        <div class="author-avatar">
                            <a href="#">
                                <img src="img/ava.jpg" width="128" height="128" alt="Dzung Nguyen" class="img-circle">
                            </a>
                        </div>

                        <!-- Author name and description -->
                        <div class="col-xs-8 col-md-9">
                            <h4 class="author-name">Dzung Nguyen</h4>
                            <p class="author-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint in voluptate eligendi, obcaecati quod eius quia quidem iste cupiditate magnam nesciunt voluptatibus tenetur rerum aliquam libero voluptas inventore repellendus animi.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <p class="copyright"><span>Powered by <a href="/">Dzung Nguyen</a></span></p>
    </footer>


    <!-- Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="bootstrap3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="bootflat/js/icheck.min.js"></script>
    <script src="bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="editor/trumbowyg-2.0.0/trumbowyg.min.js"></script>
    <script src="js/prism.js"></script>
    <script type="text/javascript">
    (jQuery, window), !function (a) {
        a(function () {
            a(".tooltip-demo").tooltip({
                selector : "[data-toggle=tooltip]",
                container : "body"
            }),
            a("input[type='number']").stepper(),
            a(".selecter_1").selecter(),
            a(".selecter_2").selecter(),
            a(".selecter_3").selecter(),
            a(".selecter_4").selecter(),
            a(".selecter_5").selecter(),
            a(".selecter_6").selecter(),
            a(".checkbox input").iCheck({
                checkboxClass : "icheckbox_flat",
                increaseArea : "20%"
            }),
            a(".radio input").iCheck({
                radioClass : "iradio_flat",
                increaseArea : "20%"
            }),
            a("#accordion1").collapse(),
            a("#accordion2").collapse()
        })
    }
    (window.jQuery);
    </script>

</body>
</html>
